p{
    background-color: #bb9b3a;
    color: #413E4A;
    font-size: 1.5em;
}
a:link{
    color: #050505;
    font-size: 1.5em;
}
body{
    color:#000000; 
    font-size: 1.5em; 
}
nav{
    background-color: #a4b185 ;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 1.5em;
}
nav a{ color: #000000;
font-size: 1.5em;}
nav a:hover{background-color: #e0b467;
font-size: 1.5em;}

h1{color:#000000;
font-size: 1.5em;}

.quote {float: right;
font-size: 1.5em;}

.part1 {background-color:lightgrey; border-radius: 1em;
margin-bottom: 50px;
padding: 50px;
font-size: 1.5em;}

.part2 {display: flex;
background-color: lightgrey;
border-radius: 1em;
flex-wrap: wrap;
font-size: 1.5em;}

.headings {float: left;
margin-right: 30px;
font-size: 1.5em;}


.clear {clear: both;}

.survey {flex: 1;
font-size: 1.5em;}
.iframe {flex: 1;
font-size: 1.5em;}

.myslogan{max-width: 100%;
font-size: 1.5em;}

@media only screen and (max-width: 920px) {
    body {
        background-color: antiquewhite;
        font-size: 1.5em;
    }
    nav a{ display:block;
    max-width: 100%;}
    span {display: none;
    font-size: 1.5em;}
}



