body{
    background-color: #e8e8e8;
}
nav a{
    color: #565c5e;
    padding-left: 30px;
    text-decoration: none;
} 

nav a:hover{
    background-color: #9bdfbd;
}

p{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin-right: 100px;
    margin-left: 30px;
}
.main{
    display: flex;
    align-items: center;
}
.b1, .b2, .b3 { 
    flex: 1;
    flex-wrap: wrap;
   align-items: center;
}

.col1, .col3, .col5{
   margin: auto;
  order: 2;
}
.col2, .col4, .col6{
 order: 1;
 align-items: flex-start;
}


h2{
    color: black;
    font-family: fantasy;
    font-size: larger;
   margin-top: 40px;
   margin-left: 20px;
}
h1{
    color: #194a50;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 18px;
}
nav{
    font-size: 1.2em;
}
img{
    max-width: 100%;
    margin-left: 30px;
}
@media only screen and (max-width: 600px) {
    body {
        background-color: #e8e8e8;
        font-size: 1.5em;
    }
    .main {
        flex-direction: column;
        align-items: center;
    }
}


