h1{
    color: #194a50;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 18px;}
iframe {
    margin-left: 30px;
    position: relative;
    margin-top: 20px;
}
h2{
    color: black;
    font-family: fantasy;
    padding-left: 30px;}
   
    @media only screen and (max-width: 920px) {
        body {
            background-color: #e8e8e8;
            font-size: 1.5em;
        }
    }
    p{
        padding: 15px;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    nav a{
        color: #565c5e;
        padding-left: 30px;
    text-decoration: none;}
    nav{
            font-size: 1.2em;
        }
   
     nav a:hover{
             background-color: #9bdfbd;
         }
    

         body{
            background-color: #e8e8e8;
        }
      #imagetwo{
          float: right;
          margin-right: 470px; 
        }
        #imageone{
            padding-left: 30px;
        }
          

