h1{
    color: #194a50;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 18px;}
iframe {
    margin-left: 30px;
    position: relative;
    margin-top: 20px;
    max-width: 100%;
    width: 560px;
    height: 340px;
    display: flex;
}
h2{
    color: black;
    font-family: fantasy;
    padding-left: 30px;}
   
    @media only screen and (max-width: 600px) {
        body {
            background-color: #e8e8e8;
            font-size: 1.5em;
        }
    }
    p{
        padding: 15px;
        margin-left: 20px;
        margin-bottom: 30px;
        font-size: large;
    }
    nav a{
        color: #565c5e;
        padding-left: 30px;
    text-decoration: none;}
    nav{
            font-size: 1.2em;
        }
   
     nav a:hover{
             background-color: #9bdfbd;
         }
    

         body{
            background-color: #e8e8e8;
        }
      #imagetwo{
        
          max-width: 100%;
        }
        #imageone{
            max-width: 100%;
            margin-right: 30px;
            padding-left: 30px;
        }
        .twoimages{
            display: flex;
            margin-right: 30px;
        }
          

