body{
    background-color: #e8e8e8;
}
nav a{
    color: #565c5e;
    padding-left: 30px;
    text-decoration: none;
} 

nav a:hover{
    background-color: #9bdfbd;
}

p{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 100px;
    font-size: large;
}
.box1, .box2, .box3{
display: flex;
justify-content: flex-start;
align-self: center;
}

.col1, .col3, .col5{
   margin: auto;
  order: 2;
}
.col2, .col4, .col6{
 order: 1;
}


h2{
    color: black;
    font-family: fantasy;
    padding-left: 30px;
}
h1{
    color: #194a50;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 18px;
}
nav{
    font-size: 1.2em;
}
img{
    margin-left: 30px;
    max-width: 100%;
}
@media only screen and (max-width: 920px) {
    body {
        background-color: #e8e8e8;
        font-size: 1.5em;
    }
}
